<div class="gallery-cont" data-mage-init='{"slickWidget":{}}'>
    <img src='<?php echo $this->getViewFileUrl('Gallery_GalleryPage::images/sliderimg.jpg'); ?>' alt="firstSlider">
    <img src='<?php echo $this->getViewFileUrl('Gallery_GalleryPage::images/sliderimg.jpg'); ?>' alt="secondSlider">
    <img src='<?php echo $this->getViewFileUrl('Gallery_GalleryPage::images/sliderimg.jpg'); ?>' alt="thirdSlider">
</div>
