& when (@media-common = true) {
    .catalog-category-view {
        div.columns {
            .column {
                &.main {
                    display: block;

                    .products,
                    .toolbar {
                        margin: 0;

                        .toolbar-amount,
                        .toolbar-sorter {
                            .lib-font-size(17);
                            margin-bottom: 20px;
                        }

                        .sorter-action {
                            display: none;
                        }

                        .ui-selectmenu-button {
                            .lib-icon-font(
                                @icon-up,
                                @_icon-font-margin: 0 0 0 10px
                            );

                            .ui-selectmenu-text {
                                display: none;
                            }

                            &:not(.ui-selectmenu-button-closed) {
                                .lib-icon-font(
                                    @icon-down
                                );
                            }
                        }
                    }

                    .item {
                        &.product {
                            &.product-item {
                                padding: 20px;
                            }
                        }
                    }
                }
            }
        }

        div.ui-selectmenu-menu {
            &.ui-front {
                z-index: 2000;
                .lib-css(background, @color-white);
                .lib-css(border, 1px solid @color-search-border);
                width: 160px;
                margin-top: 15px;

                > ul{
                    &.ui-menu {
                        margin: 0;
                        width: 100% !important;
                        padding: 0;
                        display: block;

                        > li {
                            list-style: none;
                            height: 35px;
                            margin: 0;
                            padding: 2px 15px;
                            .lib-line-height(35);
                            .lib-font-size(15);
                            .lib-css(border, 1px solid @color-search-border);

                            &:hover {
                                .lib-css(background, @color-search-border);
                                .lib-css(color, @color-white);
                                .lib-css(font-weight, @font-weight__semibold);
                            }
                        }
                    }
                }

                &:not(.ui-selectmenu-open) {
                    border: none;

                    > ul {
                        display: none;
                    }

                }
            }
        }
    }
}

