.lib-background-image(
    @background-image-url: url('@{baseDir}/images/logo_home_page.svg'),
    @background-size: 100%,
    @background-repeat: no-repeat,
    @background-image-height: 100%,
    @background-image-width: 100%
){
    background-image: @background-image-url;
    background-size: @background-size;
    background-repeat: @background-repeat;
    height: @background-image-height;
    width: @background-image-width;
}
