& when (@media-common = true) {

    .catalog-product-view {
        .product-social-links {
            a {
                margin-bottom: 10px;
            }

            .towishlist,
            .tocompare,
            #addto-giftr {
                &:before {
                    width: 25px;
                    height: 25px;
                    border-radius: 20px;
                    padding: 9px 5px 0;
                    .lib-css(color, @color-white);
                }
            }

            .towishlist,
            .tocompare {
                border-right: 1px solid @color-border-grey;
                padding-right: 20px;
                margin-right: 20px;
            }

            .towishlist {
                &:before {
                    .lib-css(background, @color-pink);
                }
            }

            .tocompare,
            .togiftr {
                &:before {
                    .lib-css(background, @color-background-grey);
                }
            }
        }

        .modal-popup {
            .modal-inner-wrap {
                max-width: 700px;
                min-height: 350px;
                top: 50%;
                .lib-css(transform, translateY(-50%));
            }

            .modal-title {
                border: none;
                .lib-css(font-weight, @font-weight__semibold);
                .lib-font-size(23);
                .lib-css(color, @color-dark-blue);
                margin-top: 35px;
            }

            .modal-content {
                #confirm-add-to-registry {
                    .lib-link-as-button();
                    .lib-button(
                        @_button-font-size: 23px,
                        @_button-font-weight: @font-weight__semibold,
                        @_button-display: block,
                        @_button-line-height: 47px,
                        @_button-width: 100%,
                        @_button-margin: 20px 0 0 0,
                        @_button-padding: 14px 0 0 0,
                        @_button-color: @color-white,
                        @_button-background: @color-dark-blue,
                        @_button-background-hover: @color-darker-blue
                    );
                    text-align: center;
                    border-radius: 10px;
                }

                .drop-top,
                .label span {
                    display: block;
                    border: 1px solid @color-background-grey;
                    .lib-font-size(18);
                    border-radius: 10px;
                    padding: 15px;
                    margin: 0;
                    height: 28px;
                }

                .drop-top {
                    width: 100%;
                    max-width: 608px;
                    .lib-icon-font(
                        @icon-down,
                        @_icon-font-margin: 0 10px 0 0
                    );

                    &.new-icon-drop {
                        .lib-icon-font(
                            @icon-up
                        );
                    }
                }

                .registries {
                    input {
                        visibility: hidden;
                    }

                    .bold-text {
                        .lib-css(font-weight, @font-weight__semibold);
                    }
                }
            }
        }
    }
}

