& when (@media-common = true) {
    .page-title-wrapper {
        text-align: center;

        h1 {
            .lib-font-size(45);
            .lib-css(font-weight, @font-weight__heavier);
            margin-top: 30px;
        }
    }

    .page-title-wrapper h1,
    .in_div {
        p,
        span {
            .lib-css(color, @color-background-grey);
        }

    }

    .schedule_div {
        width: 391px;

        .text_div {
            max-width: 380px;

            span {
                &:first-child {
                    .lib-font-size(22);
                }

                &:nth-child(2) {
                    .lib-font-size(31);
                    .lib-css(color, @color-green);
                    .lib-css(font-family, @font-family__decorative);
                    .lib-line-height(22);
                }

                &:last-child {
                    .lib-font-size(14);
                    display: block;
                }
            }
        }
    }

    .content_div {
        max-width: 900px;
        text-align: center;

        .in_div {
            .lib-font-size(20);
            margin: 0 10px 35px;

        }
    }

    .end_home {
        width: 362px;
        height: 48px;
        margin: 80px auto;

        .first_logo {
            .lib-background-image(
                @background-image-width: 230px
            );
            float: left;
        }

        .second_logo {
            .lib-background-image(
                @background-image-url: url('@{baseDir}/images/social_media_logos.png'),
                @background-image-width: 106px
            );
            float: right;
        }

    }

    .logos_container {
        height: 165px;
        .lib-css(border-top, 1px solid @color-border-grey);
        .lib-css(border-bottom, 1px solid @color-border-grey);
        margin-bottom: 3px;
    }

    .in_logos {
        max-width: 1350px;
        margin: auto;

        div {
            img {
                margin: auto;
                height: 80px;
            }
        }
    }

    small.copyright {
        .lib-css(background, @color-green);
    }

    div.block.ves-megamenu {
        .lib-css(background, @color-nav);

        .navigation {
            .nav-item {
                > a {
                    .lib-line-height(65);
                }

                &.active {
                    &.level0 {
                        > a {
                            .lib-css(background, @background-hover-li);
                            .lib-css(border-color, transparent);
                        }
                    }

                    &.level1 {
                        > a {
                            .lib-css(background, transparent);
                            .lib-css(border-color, transparent);
                        }
                    }
                }
            }
        }
    }

    div.block-search {
        input {
            border-radius: 7px;
            .lib-css(border, 2px solid @color-search-border);
            height: 40px;
        }

        .action.search {
            &::before {
                display: none;
            }
        }
    }

    div.minicart-wrapper {
        a.action.showcart {
            &::before {
                .lib-font-size(35);
                .lib-css(color, @color-white);
                line-height: 1;
                float: right;
            }

            .text {
                position: static;
                .lib-font-size(18);
                .lib-line-height(36);
                .lib-css(color, @color-white);
                margin: 20px;
            }
        }
    }

    .img_div {
        .lib-background-image(
            @background-image-url: url('@{baseDir}/images/phone.svg'),
            @background-image-height: 47px,
            @background-image-width: 30px
        );
        margin-right: 10px;
        float: left;
    }

    div.block.newsletter {
        input {
            .lib-css(background, transparent);
            border-radius: 6px;
            .lib-css(border-color, @color-green);
            margin: 0;
            padding: 0 11px;
            box-sizing: content-box;

            &::placeholder {
                .lib-css(color, @color-border-grey);
                font-style: italic;
                .lib-font-size(17);
            }
        }

        .field {
            .control {
                &::before {
                    display: none;
                }
            }
        }

        .action.subscribe {
            .lib-css(background, transparent);
            width: 17px;
            border: none;
            position: absolute;
            z-index: 20;

            &::before {
                .lib-background-image(
                    @background-image-url: url('@{baseDir}/images/paper_plane.png'),
                    @background-image-height: 17px,
                    @background-image-width: 17px
                );
                content: '';
                float: right;
            }

            span {
                display: none;
            }
        }
    }

    .footer_title {
        .lib-font-size(25);
        .lib-css(color, @color-white);
        .lib-css(font-weight, @font-weight__bold);
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .links {
        a.social-icon {
            float: left;

            &.twitter {
                .lib-background-image(
                    @background-image-width: 25px,
                    @background-image-height: 25px,
                    @background-image-url: url('@{baseDir}/images/twitter_logo_footer.png')
                );
            }

            &.facebook {
                .lib-background-image(
                    @background-image-width: 25px,
                    @background-image-height: 25px,
                    @background-image-url: url('@{baseDir}/images/facebook_logo_footer.png')
                );
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .header.content {
        max-width: 600px;

        a.logo {
            float: none;
            margin: 0;

            img {
                margin: auto;
                margin-bottom: 20px;
            }
        }

        .text_div {
            margin-bottom: 30px;
        }
    }


    div.ves-megamenu.top-navigation {
        nav.navigation {
            .level0.current {
                > a {
                    .lib-css(background, @color-blue);
                }
            }

            > ul {
                text-align: center;

                a {
                    border-top: none;
                    font-size: 1.1vw;
                    .lib-css(font-weight, @font-weight__heavier);
                }
            }
        }
    }

    .schedule_div {
        padding-left: 10px;
        margin: auto;
    }

    .ves-megamenu {
        .navigation {
            max-width: 1579px;

            > nav {
                max-width: 100%;

                .nav-item {
                    &.level0 {
                        position: static;
                    }

                    &.subhover {
                        .title-links-top {
                            padding: 10px;

                            > .nav-anchor {
                                .lib-css(font-weight, @font-weight__bold);
                                .lib-font-size(17);
                            }
                        }

                        > .submenu {
                            max-height: 500px;
                            overflow-y: scroll !important;
                            text-align: left;
                            max-width: 1280px;
                            width: 100%;
                            left: 50%;
                            transform: translateX(-50%);

                            a {
                                .lib-font-size(15);
                            }

                            .nav-item.current {
                                > a {
                                    .lib-css(border-color, @color-blue);
                                }
                            }

                            .submenu-inner {
                                .item-header {
                                    padding-left: 25px;
                                    border: 0;
                                    margin-bottom: 0;
                                    .lib-css(font-weight, @font-weight__bold);
                                    .lib-font-size(17);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .authorization-link {
        a {
            width: 110px;
            padding: 7px 0;
            #lib-gradient.vertical(
                @_start-color: rgba(138, 205, 191, 1),
                @_end-color: rgba(140, 199, 70, 1)
            );
            border-radius: 6px;
            .lib-css(font-weight, @font-weight__bold);
            .lib-font-size(16);
            text-align: center;
        }
    }

    div.block.block-search {
        float: left;
        width: 545px;
        height: 100%;
        margin-bottom: 20px;

        .actions {
            > button.action.search {
                width: 87px;
                height: 100%;
                right: 0;
                .lib-css(background, @color-green);
                text-align: center;
                .lib-css(font-weight, @font-weight__bold);
                .lib-font-size(16);
                .lib-line-height(30);
                border-radius: 0 7px 7px 0;
                .lib-css(color, @color-white);

                > span {
                    position: static;
                }
            }
        }

        input {
            padding: 0 85px 0 63px;
            font-style: italic;
            .lib-font-size(16);
            .lib-css(color, @color-border-grey);
        }

        .action.search {
            &:hover {
                .lib-css(background, @color-green);
            }
        }

        .control {
            width: 100%;
            .lib-icon-font(
                @icon-search,
                @_icon-font-size: 1.6rem,
                @_icon-font-line-height: 3.9rem,
                @_icon-font-color: @color-border-grey,
                @_icon-font-margin: 0 12px 0 0
            );

            &:before {
                position: absolute;
                left: 28px;
                transform: scaleX(-1);
            }
        }
    }

    .page-wrapper {
        > .page-bottom {
            margin: 0;
            padding: 0;
            max-width: 100%;
        }

        footer.page-footer {
            .lib-css(background, @color-background-grey);
        }
    }

    .footer.content {
        .lib-vendor-prefix-display();
        .lib-vendor-prefix-flex-wrap();
        justify-content: space-evenly;

        .links {
            width: 302px;
            padding: 15px;
            .lib-font-size(17);
            .lib-css(color, @color-white);

            ul.social.links {
                .lib-vendor-prefix-display();
                width: 220px;
                justify-content: space-between;
                float: right;
                padding: 0;

                a.logo {
                    max-width: 125px;
                    margin-right: 0;
                }
            }

            li {
                .lib-line-height(20);

                &.contact-item {
                    &.number_footer {
                        margin-top: 25px;
                        .lib-icon-image(
                            @_icon-image: '@{baseDir}/images/phone_footer.svg',
                            @_icon-image-height: 19px,
                            @_icon-image-width: 12px,
                            @_icon-image-margin: 0 24px 0 0
                        );
                    }

                    &.mail_footer {
                        margin-bottom: 25px;
                        .lib-icon-image(
                            @_icon-image: '@{baseDir}/images/mail_symb_footer.svg',
                            @_icon-image-height: 12px,
                            @_icon-image-width: 16px,
                            @_icon-image-margin: 5px 20px 0 0
                        );
                    }
                }
            }

            a {
                .lib-line-height(25);
                .lib-css(color, @color-white);
            }
        }

        .block {
            max-width: 100%;
            float: none;
            margin: 10px 0;

            &.newsletter {
                width: 100%;
            }
        }
    }

    .in_logos {
        div {
            margin: 13px 20px;
        }
    }

}

//Mobile(max 767)
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .slick-list.draggable {
        min-width: 100%;
    }

    form.minisearch.active {
        button.action.search {
            display: block;
            width: 100%;
            height: 50px;
            .lib-css(color, @color-white);
            .lib-css(background, @color-green);
            .lib-css(font-weight, @font-weight__semibold);
            .lib-font-size(20);
            border-radius: 10px;
            box-shadow: none;
        }
    }

    .page-title-wrapper {
        h1 {
            margin: 13px 0 30px;

            span {
                .lib-css(color, @color-blue);
                .lib-css(font-weight, @font-weight__semibold);
                .lib-font-size(32);
            }
        }
    }

    .content_div {
        .in_div {
            .lib-font-size(17);
            margin-bottom: 30px;
        }
    }

    nav.navigation {
        .lib-css(background, @color-white);

        > ul {
            li {
                a:hover {
                    .lib-css(background, @background-hover-li);
                    .lib-css(color, @color-white);
                    .lib-css(font-weight, @font-weight__bold);
                }

                &:nth-child(odd) {
                    .lib-css(background, @color-search-border);

                    a {
                        .lib-css(color, @color-white);
                        .lib-css(font-weight, @font-weight__bold);
                    }
                }
            }
        }
    }

    a.nav-sections-item-switch,
    .footer_title,
    .newsletter_text,
    .footer.content {
        .lib-css(color, @color-background-grey);
    }

    .nav-sections {
        a.nav-sections-item-switch {
            .lib-css(font-weight, @font-weight__semibold);
            .lib-font-size(20);
        }

        .header.links {
            div.minicart-wrapper {
                margin-top: 18px;
                .lib-line-height(50);

                a.action.showcart {
                    &:before {
                        line-height: 1.3;
                    }

                    &:hover:before {
                        .lib-css(color, @color-white);
                    }
                }
            }

            .authorization-link {
                .lib-css(background, @color-search-border);

                > a {
                    height: 45px;
                    padding: 18px 25px 0;
                    .lib-font-size(20);
                    .lib-css(color, @color-white);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .end_home {
        margin: 40px auto;
    }

    footer.page-footer {
        margin: 0 15px;

        .footer.content {
            .newsletter_text,
            .links {
                li.contact-item,
                a {
                    .lib-line-height(25);
                    padding: 10px 15px;

                    &.social-icon {
                        padding: 0;
                        width: 40px;
                        height: 40px;
                        margin-top: 13px;

                        &.facebook {
                            margin-right: 7px;
                        }
                    }
                }

                .footer_title {
                    .lib-font-size(21);
                    margin: 20px;
                    text-align: center;
                }
            }
        }
    }

    .logos_container {
        border-bottom: 0;
        margin-bottom: 0;
    }

    ul.social.links {
        .lib-css(background, @color-background-grey);
        height: 70px;
        border-radius: 10px;
        width: 100%;

        li.item {
            .lib-css(background, transparent);
            float: left;
            height: 70px;
            border: 0;
        }

        a.logo {
            margin-left: 15%;
        }
    }

    div.block.newsletter {
        margin-top: 20px;

        input {
            margin: auto;
            box-sizing: border-box;
            height: 50px;
        }

        .form.subscribe {
            position: relative;
        }

        .actions {
            position: absolute;
            top: 0;
            right: 22px;
            height: 50px;
            width: 44px;

            .subscribe {
                width: 100%;
                height: 100%;
                .lib-css(background, @color-background-grey);
                border: none;
                position: absolute;
                z-index: 20;
            }
        }
    }

    .newsletter_text,
    .footer.content {
        text-align: center;
        .lib-font-size(17);
    }

    .schedule_div {
        margin: auto;
        padding: 20px;
    }

    a.logo {
        margin-left: 25%;
    }

    .logos_container {
        height: auto;

        .in_logos {
            .lib-vendor-prefix-flex-wrap();
            .lib-vendor-prefix-flex-direction();

            div {
                margin: 15px auto;
            }
        }
    }

    .nav-open {
        .nav-toggle {
            &:after {
                background: rgba(0, 0, 0, 0.2);
            }

            &:before {
                .lib-css(color, @color-white);
                z-index: 20;
                position: relative;
                content: '\e61f';
            }
        }
    }
}


//Desktop(1024-1840)
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .nav-sections {
        margin-top: 0;
    }

    .header.content,
    .footer.content {
        .lib-vendor-prefix-display();
        justify-content: space-between;

        .links {
            max-width: 302px;
            padding: 0;
            width: 100%;
        }
    }

    .header.content {
        max-width: 1579px;
        padding-bottom: 0;

        .schedule_div {
            margin: 0;

            .text_div {
                float: left;

                span {
                    &:first-child {
                        font-size: 1.2vw;
                    }

                    &:nth-child(2) {
                        font-size: 1.7vw;
                        font-family: @font-family__decorative;
                    }

                    &:last-child {
                        font-size: 0.81vw;
                    }
                }
            }
        }
    }

    .phone_img {
        .lib-background-image(
            @background-image-url: url('@{baseDir}/images/phone_home_page.svg'),
            @background-image-width: 147px,
            @background-image-height: 341px
        );
        transform: scaleX(-1);
    }

    .footer.content {
        .links {
            padding-right: 5%;

            .footer_title {
                font-size: 1.35vw;
            }

            .newsletter_text,
            li,
            a {
                font-size: 0.88vw;
            }
        }
    }

    nav.navigation {
        .level0 {
            margin: 0 30px 0 0;
        }
    }
    body.cms-home {
        .column.main {
            max-width: 1210px;
            margin: auto;
            .lib-vendor-prefix-display();
        }
    }
}

