// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Luma theme variables
//  _____________________________________________
@layout__max-width: 1579px;
//
//  Typography
//  ---------------------------------------------

// Fonts
//@font-family-name__base: 'Open Sans';
@font-family-name__base: 'Roboto';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

@font-family-name__decorative: 'Covered By Your Grace';
@font-family__cursive: cursive;
@font-family__decorative: @font-family-name__decorative, @font-family__cursive;

//  Colors nesting
@page__background-color: @color-white;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 23px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Sidebar blocks
//  ---------------------------------------------

@block-items__counter__color: @color-gray43;
@copyright__background-color: @color-gray-middle4;

@color-background-grey: #616161;
@color-hover-minicart: #575757;
@color-green: #8dc73f;
@color-border-grey: #c6c6c6;
@color-nav: #f7f8f8;
@color-search-border:#9cd5cc;
@color-white: #fff;
@color-blue: #21a8dd;
@color-dark-blue: #2578a8;
@color-darker-blue: #295780;
@background-hover-li: rgba(0,0,0,0.5);
@color-pink: #faa;
